*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 20px 20px;
  background-color: #029d0d;
}

.UploadFile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    padding: 10px;
    }


.hamburger {
  display: inline-block;
  width: fit-content;
  block-size: fit-content;
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

html
{
    background-color: lightgray;
}

html.dark {
  background-color: #0d0950;

}
