---
import Snack from '../components/Snack.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Add Patient";
---
<script src="../scripts/checkToken.js"/>

<BaseLayout pageTitle={pageTitle}>
    <label >Add patient</label>
    <section class="contact-form">
        <form>

            <div class="input-group">
                <label for="PESEL">PESEL</label>
                <input class="inptClass1" id="PESEL" name="PESEL" type="number" min="0" step="1" required/>
            </div>

            <div class="input-group">
                <label for="first_name">Name</label>
                <input class="inptClass2" id="first_name" name="first_name" type="text" required/>
            </div>

            <div class="input-group">
                <label for="last_name">Surname</label>
                <input class="inptClass3" id="last_name" name="last_name" type="text" required/>
            </div>

            <div class="input-group">
                <label for="email">Email</label>
                <input class="inptClass4" id="email" name="email" type="email" required/>
            </div>

            <div class="input-group">
                <label for="phone_number">Phone Number</label>
                <input class="inptClass5" id="phone_number" name="phone_number" type="number" min="0" step="1" max="999999999" required/>
            </div>

            <button class="glob" type="submit">Add</button>
        </form>
    </section>
    <Snack id="snackbar"></Snack>
    <script>
        function handleFormSubmit(event) {
          event.preventDefault();
          
          const data = new FormData(event.target);
              const formJSON = {};
              formJSON["id"] = null;
              data.forEach((value, key) => {
                formJSON[key] = /^\d+$/.test(value) ? String(value) : value;
              });
              formJSON["historical_data"] = null;
              console.log(JSON.stringify(formJSON, null, 2));
    
          let tokenToSend = `${localStorage.getItem("SavedToken")}`;
      
          fetch('http://127.0.0.1:8000/patient', {
            credentials: "same-origin",
            method: 'POST',
            headers: {
              'accept': 'application/json',
              'Authorization': tokenToSend,
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(formJSON, null, 2)
          }).then(response => 
     {
      if (response.status == 404) {
        response.json().then(data => {
          var snack = document.getElementById("snackbar");
snack.innerHTML = "";
console.log(data["detail"]);
snack.innerHTML += data["detail"];
snack.className = "show";
setTimeout(function(){ snack.className = snack.className.replace("show", ""); }, 3000);
            });
      }
      if (response.status == 200) {
        response.json().then(data => {
          var snack = document.getElementById("snackbar");
snack.innerHTML = "";
snack.innerHTML += "Patient added correctly";
snack.className = "show";
setTimeout(function(){ snack.className = snack.className.replace("show", ""); }, 3000);
            });
      }
     });
    };
    document.querySelector(".inptClass1").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
    {
        evt.preventDefault();
    }
});
document.querySelector(".inptClass2").addEventListener("keypress", function (evt) {
    var charCode1 = (evt.which) ? evt.which : evt.keyCode;
    if ((charCode1 >= 65 && charCode1 <= 90) || (charCode1 >= 97 && charCode1 <= 122)) {
        // Allow the key press
    } else {
        // Prevent the key press if it doesn't meet the criteria
        evt.preventDefault();
    }
});
document.querySelector(".inptClass3").addEventListener("keypress", function (evt) {
    var charCode2 = (evt.which) ? evt.which : evt.keyCode;
    if ((charCode2 >= 65 && charCode2 <= 90) || (charCode2 >= 97 && charCode2 <= 122)) {
        // Allow the key press
    } else {
        // Prevent the key press if it doesn't meet the criteria
        evt.preventDefault();
    }
});

document.querySelector(".inptClass5").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
    {
        evt.preventDefault();
    }
});
        const form = document.querySelector('.contact-form');
        form.addEventListener('submit', handleFormSubmit);
      </script>

</BaseLayout>

