---
import Snack from '../components/Snack.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Add Patient";
---
<script src="../scripts/checkToken.js"/>

<BaseLayout pageTitle={pageTitle}>
    <label >Add patient</label>
    <section class="contact-form">
        <form>

            <div class="input-group">
                <label for="PESEL">PESEL</label>
                <input id="PESEL" name="PESEL" type="number" min="1" step="1"/>
            </div>

            <div class="input-group">
                <label for="first_name">Name</label>
                <input id="first_name" name="first_name" type="text"/>
            </div>

            <div class="input-group">
                <label for="last_name">Surname</label>
                <input id="last_name" name="last_name" type="text"/>
            </div>

            <div class="input-group">
                <label for="email">Email</label>
                <input id="email" name="email" type="email"/>
            </div>

            <div class="input-group">
                <label for="phone_number">Phone Number</label>
                <input id="phone_number" name="phone_number" type="number" min="1" step="1"/>
            </div>

            <button class="glob" type="submit">Add</button>
        </form>
    </section>
    <Snack id="snackbar"></Snack>
    <script>
        function handleFormSubmit(event) {
          event.preventDefault();
          
          const data = new FormData(event.target);
              const formJSON = {};
              formJSON["id"] = null;
              data.forEach((value, key) => {
                formJSON[key] = /^\d+$/.test(value) ? String(value) : value;
              });
              formJSON["historical_data"] = null;
              console.log(JSON.stringify(formJSON, null, 2));
    
          let tokenToSend = `${localStorage.getItem("SavedToken")}`;
      
          fetch('http://127.0.0.1:8000/patient', {
            credentials: "same-origin",
            method: 'POST',
            headers: {
              'accept': 'application/json',
              'Authorization': tokenToSend,
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(formJSON, null, 2)
          }).then(response => 
     {
      if (response.status == 404) {
        response.json().then(data => {
          var snack = document.getElementById("snackbar");
snack.innerHTML = "";
console.log(data["detail"]);
snack.innerHTML += data["detail"];
snack.className = "show";
setTimeout(function(){ snack.className = snack.className.replace("show", ""); }, 3000);
            });
      }
      if (response.status == 200) {
        response.json().then(data => {
          var snack = document.getElementById("snackbar");
snack.innerHTML = "";
snack.innerHTML += "Patient added correctly";
snack.className = "show";
setTimeout(function(){ snack.className = snack.className.replace("show", ""); }, 3000);
            });
      }
     });
    };
        
        const form = document.querySelector('.contact-form');
        form.addEventListener('submit', handleFormSubmit);
      </script>

</BaseLayout>

