---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home";
---

<script src="../scripts/checkToken.js"/>

<BaseLayout pageTitle={pageTitle}>
        <section class="contact-form">
            <form>

                <div class="input-group">
                    <label for="pregnancies">Pregnancies</label>
                    <input id="pregnancies" name="pregnancies" type="number"/>
                </div>

                <div class="input-group">
                    <label for="Glucose">Glucose</label>
                    <input id="Glucose" name="glucose" type="number"/>
                </div>

                <div class="input-group">
                    <label for="name">Blood Pressure</label>
                    <input id="name" name="blood_pressure" type="number"/>
                </div>

                <div class="input-group">
                    <label for="SkinThicc">Skin Thickness</label>
                    <input id="SkinThicc" name="skin_thickness" type="number"/>
                </div>

                <div class="input-group">
                    <label for="Insulin">Insulin</label>
                    <input id="Insulin" name="insulin" type="number"/>
                </div>

                <div class="input-group">
                    <label for="BMI">BMI</label>
                    <input id="BMI" name="bmi" type="number"/>
                </div>

                <div class="input-group">
                    <label for="dpf">Diabetes Pending Function</label>
                    <input id="dpf" name="diabetes_pedigree_function" type="number"/>
                </div>

                <div class="input-group">
                    <label for="age">Age</label>
                    <input id="age" name="age" type="number"/>
                </div>

                <button class="glob" type="submit">Predict</button>

            </form>
        </section>
<!--
        <div class="results">
            <h3>Form Data</h3>
            <pre></pre>
        </div>
    -->

    
    <script>
        function handleFormSubmit(event) {
          event.preventDefault();
          
          const data = new FormData(event.target);
          const formJSON = {};
          
          data.forEach((value, key) => {
            formJSON[key] = /^\d+$/.test(value) ? parseInt(value) : value;
          });
          
          
          fetch('http://127.0.0.1:8000/predict', {
            credentials: "same-origin",
            method: 'POST',
            headers: {
              'accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(formJSON, null, 2)
          })
           .then(response => response.json())
           .then(response => console.log(JSON.stringify(response)));
        }
        
        const form = document.querySelector('.contact-form');
        form.addEventListener('submit', handleFormSubmit);
      </script>
</BaseLayout>

