---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home";
---

<script src="../scripts/checkToken.js"/>

<script>
    let tokenToSend = `${localStorage.getItem("SavedToken")}`;
        
        fetch('http://127.0.0.1:8000/patient', {
          credentials: "same-origin",
          method: 'GET',
          headers: {
            'accept': 'application/json',
            'Authorization': tokenToSend
          },
    
        }).then(response => 
         {
    
            response.json().then(data => {
                const select = document.querySelector('select'); 
                let defOption = new Option("-----",null);
                console.log(data[1]);
                select.add(defOption,undefined);
                    for (var i = 0; i < data.length; i++){
                        let newOption = new Option(`${data[i]["first_name"]} ${data[i]["last_name"]} ${data[i]["PESEL"]}`,`${data[i]["id"]}`);
                        
                        select.add(newOption,undefined)}
                });
         });
    </script>

<BaseLayout pageTitle={pageTitle}>


        <section class="contact-form" >
            <div class="input-group">
                <label for="pregnancies">List of patients</label>
            <select class="input-group" id="selectedValue"  size="4">

            </select>
        </div>
            <form>

                <div class="input-group">
                    <label for="pregnancies">Pregnancies</label>
                    <input id="pregnancies" name="pregnancies" type="number"/>
                </div>

                <div class="input-group">
                    <label for="Glucose">Glucose</label>
                    <input id="Glucose" name="glucose" type="number"/>
                </div>

                <div class="input-group">
                    <label for="name">Blood Pressure</label>
                    <input id="name" name="blood_pressure" type="number"/>
                </div>

                <div class="input-group">
                    <label for="SkinThicc">Skin Thickness</label>
                    <input id="SkinThicc" name="skin_thickness" type="number"/>
                </div>

                <div class="input-group">
                    <label for="Insulin">Insulin</label>
                    <input id="Insulin" name="insulin" type="number"/>
                </div>

                <div class="input-group">
                    <label for="BMI">BMI</label>
                    <input id="BMI" name="bmi" type="number"/>
                </div>

                <div class="input-group">
                    <label for="dpf">Diabetes Pedigree Function</label>
                    <input id="dpf" name="diabetes_pedigree_function" type="number"/>
                </div>

                <div class="input-group">
                    <label for="age">Age</label>
                    <input id="age" name="age" type="number"/>
                </div>

                <button class="glob" type="submit">Predict</button>

            </form>
        </section>
<!--
        <div class="results">
            <h3>Form Data</h3>
            <pre></pre>
        </div>
    -->

    
    <script>
        function handleFormSubmit(event) {
          event.preventDefault();
          let tokenToSend = `${localStorage.getItem("SavedToken")}`;
          var e = document.getElementById("selectedValue");
          var value = parseInt(e.value);
          const data = new FormData(event.target);
          const formJSON = {};
          const dataJSON = {};
          console.log(data);
          data.forEach((value, key) => {
            dataJSON[key] = /^\d+$/.test(value) ? parseFloat(value) : value;
          });
          formJSON["patient_id"] = value;
          formJSON["input"] = dataJSON;
          console.log(formJSON);
          fetch('http://127.0.0.1:8000/predict', {
            credentials: "same-origin",
            method: 'POST',
            headers: {
              'accept': 'application/json',
              'Authorization': tokenToSend,
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(formJSON, null, 2)
          })
           .then(response => response.json())
           .then(response => console.log(JSON.stringify(response)));
        }
        
        const form = document.querySelector('.contact-form');
        form.addEventListener('submit', handleFormSubmit);
      </script>
</BaseLayout>
