---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home";
---

<script src="../scripts/checkToken.js"/>

<script>
    let tokenToSend = `${localStorage.getItem("SavedToken")}`;
        
        fetch('http://127.0.0.1:8000/patient', {
          credentials: "same-origin",
          method: 'GET',
          headers: {
            'accept': 'application/json',
            'Authorization': tokenToSend
          },
    
        }).then(response => 
         {
    
            response.json().then(data => {
                const select = document.querySelector('select'); 
                let defOption = new Option("-----",null);
                console.log(data[1]);
                select.add(defOption,undefined);
                    for (var i = 0; i < data.length; i++){
                        let newOption = new Option(`${data[i]["first_name"]} ${data[i]["last_name"]} ${data[i]["PESEL"]}`,`${data[i]["id"]}`);
                        
                        select.add(newOption,undefined)}
                });
         });
    </script>

<BaseLayout pageTitle={pageTitle}>

    <label >Predict</label>
        <section class="contact-form" >
            <div class="input-group">
                <label for="pregnancies">List of patients</label>
            <select class="input-group" id="selectedValue"  size="4">

            </select>
        </div>
            <form>

                <div class="input-group">
                    <label for="pregnancies">Pregnancies</label>
                    <input class="inptClass" id="pregnancies" name="pregnancies" type="number" min="0"/>
                </div>

                <div class="input-group">
                    <label for="Glucose">Glucose</label>
                    <input class="inptClass1" id="Glucose" name="glucose" type="number" min="0"/>
                </div>

                <div class="input-group">
                    <label for="name">Blood Pressure</label>
                    <input class="inptClass2" id="name" name="blood_pressure" type="number" min="0"/>
                </div>

                <div class="input-group">
                    <label for="SkinThicc">Skin Thickness</label>
                    <input class="inptClass3" id="SkinThicc" name="skin_thickness" type="number" min="0"/>
                </div>

                <div class="input-group">
                    <label for="Insulin">Insulin</label>
                    <input class="inptClass4" id="Insulin" name="insulin" type="number" min="0"/>
                </div>

                <div class="input-group">
                    <label for="BMI">BMI</label>
                    <input class="inptClass5" id="BMI" name="bmi" type="number" min="0"/>
                </div>

                <div class="input-group">
                    <label for="dpf">Diabetes Pedigree Function</label>
                    <input class="inptClass6" id="dpf" name="diabetes_pedigree_function" type="number" min="0"/>
                </div>

                <div class="input-group">
                    <label for="age">Age</label>
                    <input class="inptClass7" id="age" name="age" type="number" min="1" step="1"/>
                </div>

                <div class="input-group">
                    <button class="glob" type="submit">Predict</button>
                    <div class="pred">  </div>
                </div>

            </form>
        </section>
<!--
        <div class="results">
            <h3>Form Data</h3>
            <pre></pre>
        </div>
    -->

    
    <script>
        var predVal;
        function handleFormSubmit(event) {
          event.preventDefault();
          let tokenToSend = `${localStorage.getItem("SavedToken")}`;
          var e = document.getElementById("selectedValue");
          var value = parseInt(e.value);
          var predd = document.querySelector('.pred');
          const data = new FormData(event.target);
          const formJSON = {};
          const dataJSON = {};
          var y;
          var sth;
          var isIt;
          console.log(data);
          data.forEach((value, key) => {
            dataJSON[key] = /^\d+$/.test(value) ? parseFloat(value) : value;
          });
          formJSON["patient_id"] = value;
          formJSON["input"] = dataJSON;
          console.log(JSON.stringify(formJSON, null, 2));
          fetch('http://127.0.0.1:8000/predict', {
            credentials: "same-origin",
            method: 'POST',
            headers: {
              'accept': 'application/json',
              'Authorization': tokenToSend,
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(formJSON, null, 2)
          })
           .then(response => {
            response.json().then(data => {
                console.log(data);
                predd.innerHTML = '';
                sth = parseInt(data.prediction);
                if (sth != 0 ) {
                    isIt = false;
                }
                else{
                    isIt = true;
                }
           y = document.createTextNode("Prediction: " + isIt);
           predd.appendChild(y);
           });
        });

        }
        document.querySelector(".inptClass").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
    {
        evt.preventDefault();
    }
});

document.querySelector(".inptClass1").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which == 46 && evt.which < 48 || evt.which > 57)
    {
        evt.preventDefault();
    }
});
document.querySelector(".inptClass2").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which == 46 && evt.which < 48 || evt.which > 57)
    {
        evt.preventDefault();
    }
});
document.querySelector(".inptClass3").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which == 46 && evt.which < 48 || evt.which > 57)
    {
        evt.preventDefault();
    }
});
document.querySelector(".inptClass4").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which == 46 && evt.which < 48 || evt.which > 57)
    {
        evt.preventDefault();
    }
});
document.querySelector(".inptClass5").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which == 46 && evt.which < 48 || evt.which > 57)
    {
        evt.preventDefault();
    }
});

document.querySelector(".inptClass6").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which == 46 && evt.which < 48 || evt.which > 57)
    {
        evt.preventDefault();
    }
});

document.querySelector(".inptClass7").addEventListener("keypress", function (evt) {
    if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
    {
        evt.preventDefault();
    }
});

        const form = document.querySelector('.contact-form');
        form.addEventListener('submit', handleFormSubmit);
      </script>
</BaseLayout>

<style>
    .pred{
        float: right;
    }
</style>