---
const pageTitle = "Sign Up";
import '../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  
  <body>
<div class="UploadFile">

        <h1 style="color:black;">Sign Up</h1>
        <section class="contact-form">
        <form method="post">
          <div class="txt_field">
            <input id="first_name" name="first_name" type="text" required>
            <span></span>
            <label>Name</label>
          </div>
          <div class="txt_field">
            <input id="last_name" name="last_name" type="text" required>
            <span></span>
            <label>Surname</label>
          </div>
          <div class="txt_field">
            <input id="email" name="email" type="text" required>
            <span></span>
            <label>Email</label>
          </div>
          <div class="txt_field">
            <input id="phone_number" name="phone_number" type="number" required>
            <span></span>
            <label>Phone Numer</label>
          </div>
          <div class="txt_field">
            <input id="password" name="password" type="text" required>
            <span></span>
            <label>Password</label>
          </div>
          <button class="glob" type="submit">Sign Up</button>
          <div class="signup_link">
             <a href="/login-page">Back to login page</a>
          </div>
        </form>
    </section>
      </div>

      <script>
        function handleFormSubmit(event) {
          event.preventDefault();
          
          const data = new FormData(event.target);
          const formJSON = {};
          
          data.forEach((value, key) => {
            formJSON[key] = /^\d+$/.test(value) ? String(value) : value;
          });
          console.log(JSON.stringify(formJSON, null, 2));
          
          fetch('http://127.0.0.1:8000/signup', {
            credentials: "same-origin",
            method: 'POST',
            headers: {
              'accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(formJSON, null, 2)
          })
           .then(response => response.json())
           .then(response => console.log(JSON.stringify(response)));
        }
        
        const form = document.querySelector('.contact-form');
        form.addEventListener('submit', handleFormSubmit);
      </script>



</body>
</html>

<style>

    .center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
    float: right;
  margin: 10px 20px;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
</style>