---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Train";
---

<script src="../scripts/checkToken.js"/>

<BaseLayout pageTitle={pageTitle}>
<div>
    <form id="trainForm">
    <section class="contact-form">
    <label for="csvToTrain">Select a file:</label>
    <input type="file" id="csvToTrain" name="myfile" accept="text/csv"/>
    <button class="glob">Train</button>
    <section/>
</form>
</div>
</BaseLayout>


<script>
    function sendDataToTrain(event) {
        event.preventDefault();

        let tokenToSend = `${localStorage.getItem("SavedToken")}`;

        let fileInput = (document.getElementById("csvToTrain") as HTMLInputElement);
    let file = fileInput.files[0];

    let formData = new FormData();
    formData.append('file', file, file.name);

      fetch('http://127.0.0.1:8000/train', {
        credentials: "same-origin",
        method: 'POST',
        headers: {
          'accept': 'application/json',
          'Authorization': tokenToSend
        },
        body: formData
      }).then(response => 
       {
        if (response.status == 200) {

              
        }
       });
    }
    
    var button = document.querySelector(".glob");
  button.addEventListener('click', sendDataToTrain);
</script>


<style>
    :root {
  --color-lightest: #f9fdfe;
  --color-gray-light: #cdcfcf;
  --color-gray-medium: #686a69;
  --color-gray-dark: #414643;
  --color-darkest: #2a2f2c;
}

div {
    text-align: center;
}

label {
    text-align: center;
}


button{
    display: inline-block;
}
</style>